<div class="venue-block grid_12">
	<h2><%= entry[0].venue.name %></h2>
	<div class="venue-info grid_8 alpha">
		<p>You've been here <%= entry[0].beenHere %> times, the last time on <%= Time.at entry[0].lastHereAt %></p>
		<p>(Matched to: <%= entry[1].name %> / <%= entry[1].address %>)
	</div>

	<div id="inspections" class="grid_4 omega">
	<% entry[1].inspections.each do |inspection| %>
		<a href="" class="inspection-icon <%= inspection.pretty_status %>">&nbsp;</a>
	<% end %>
	</div>

</div>